{% extends "base2.html" %}

{% block main_content_card_body %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<input class="btn btn-primary" type="submit" value="Login">
<input type="hidden" name="next" value="{{ next }}">
</form>
{% if preferences.BlawxPreference.allow_registration %}
<p>If you do not have an account, you can create one by clicking "Register" below!</p>
<a href="{% url 'register' %}"><button class="btn btn-primary" >Register</button></a>
{% endif %}

<!-- {# Assumes you set up the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->

{% endblock %}