.subparts {
    margin-left: 40px;
}
.tree-element i::before {
    transition-duration: 0.7s;
}
.tree-element > div.input-group > button[aria-expanded="true"] > i::before {
    transform: rotate(90deg);
}