{% extends "base2.html" %}
{% load static %}
{% load guardian_tags %}
{% csrf_token %}

{% block head_extras %}
<link href="{% static 'blawx/navtree.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="bi bi-house pe-2"></i><a href="/">Home</a></li>
        <li class="breadcrumb-item"><i class="bi bi-journal pe-2"></i><a href="{% url 'ruledoc' ruledoc.id %}">{{ ruledoc.ruledoc_name }}</a></li>
        <li class="breadcrumb-item">
            <a class="dropdown-toggle" data-bs-toggle="collapse" href="#ruleNav" role="button"
                                                    aria-expanded="false" aria-controls="ruleNav">
                                                    <i class="bi bi-file-code pe-2"></i></i>Section
                                                    </a></li>
    </ul>
</nav>
<div class="card collapse w-100 overflow-auto" style="max-height:25%;" id="ruleNav">
        <div class="card-body akoma-ntoso" id="rules">
            {{ ruledoc.navtree | safe }}
      </div>
</div>
{% endblock %}

{% block main_content_card %}
<style type="text/css">
.blocklyTreeLabel{
    color:black;
}

.blocklyDropDownDiv{
    z-index: 2000;
}
.blawxlogo {
    font-family: 'Mina', sans-serif;
    }
</style>
{% get_obj_perms request.user for ruledoc as 'ruledoc_perms' %}
    <script src="{% static 'blawx/blockly/blockly_compressed.js' %}"></script>
    <script src="{% static 'blawx/blockly/msg/en.js' %}"></script>
    <script src="{% static 'blawx/blockly/javascript_compressed.js' %}"></script>
    <script src="{% static 'blawx/blockly/blocks_compressed.js' %}"></script>
    <script src="{% static 'blawx/blockly/appengine/storage.js' %}"></script>
    <script src="{% static 'blawx/blawx-blocks.js' %}"></script>

    {% include "includes/toolbox.html" with test=False %}
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="blawxTabs" role="tablist">
            <button class="btn mb-1 me-2 btn-sm btn-primary {% if 'change_ruledoc' not in ruledoc_perms %}disabled{% endif %}" {% if 'change_ruledoc' not in ruledoc_perms %}aria-disabled="true" {% endif %}onclick="updateWorkspace()">
                <i class="bi bi-save pe-2"></i>Save
            </button>
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="blawx-code-tab" data-bs-toggle="tab" data-bs-target="#blawx-code" type="button" role="tab" aria-controls="blawx-code" aria-selected="true">Blawx</button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="scasp-tab" data-bs-toggle="tab" data-bs-target="#scasp" type="button" role="tab" aria-controls="scasp" aria-selected="false">s(CASP)</button>
            </li>
        </ul>
    </div>
    <div class="card-body p-0">
        <div class="tab-content h-100" id="blawxTabContent">
            <div class="tab-pane h-100 fade show active" id="blawx-code" role="tabpanel" aria-labelledby="blawx-code-tab">
                <div id="interface" class="h-100">
                    <div id="blocklyArea" class="p-0 h-100">
                        <div id="blocklyDiv" style="position: absolute;"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane p-3 fade" id="scasp" role="tabpanel" aria-labelledby="scasp-tab"><pre id="code"></pre></div>
        </div>
    </div>
    <script src="{% static 'blawx/mutators.js' %}"></script>
    <script src="{% static 'blawx/scasp_generator.js' %}"></script>
    <script src="{% static 'blawx/buttons.js' %}"></script>
    <script>
            var blocklyArea = document.getElementById('blocklyArea');
            var blocklyDiv = document.getElementById('blocklyDiv');
            var demoWorkspace = Blockly.inject(blocklyDiv,
                {media: "{% static 'blawx/blockly/media/' %}",
                toolbox: document.getElementById('toolbox'),
                {% if not 'change_ruledoc' in ruledoc_perms %}readOnly: true,scrollbars: true,{% endif %}
                });
            var importWorkspace = new Blockly.Workspace();
            // Need to load the root workspace.
            load_section_workspace({{ ruledoc.pk }},'root_section');
            var onresize = function(e) {
                blocklyDiv.style.left = blocklyArea.offsetLeft + 'px';
                blocklyDiv.style.top = blocklyArea.offsetTop + 'px';
                blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
                blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
                Blockly.svgResize(demoWorkspace);
            };
            var myob = new ResizeObserver(onresize);
            myob.observe(blocklyArea);
            Blockly.svgResize(demoWorkspace);
            demoWorkspace.addChangeListener(onCategoryChange);
            demoWorkspace.addChangeListener(updateRelationshipDeclaration);
            var knownCategories = [];
            var localCategories = [];
            window.onload = function() {
                onresize();
                liveCode(null);
                $('#leftbar').collapse('show');
                knownCategories = getKnownCategories();
                updateLocalCategories();
                
                
            };


            var selectors = $('.lawpart input'); // Switch from jQuery
            var prev_section = 'root_section';
            var current_section = 'root_section';
            var abbreviation = "";
            var xmlList = [];
            var title_element = $('.lawpart.act');
            title = title_element[0].outerText;
            var parts = title.split(" ")
            for (var i = 0; i < parts.length; i++) {
                if (isNaN(parts[i])) {
                    var first_char = parts[i].charAt(0);
                    if (first_char == first_char.toUpperCase()) {
                        abbreviation += first_char;
                    }
                }
            }
            var current_doc = abbreviation;
            for (var i = 0; i < selectors.length; i++) {
                selectors[i].addEventListener('change', function() {
                    // console.log("Current section is " + current_section)
                    // console.log("Previous section is " + prev_section)
                    // console.log("Selected is " + this.id)
                    if (this.id !== current_section) {
                        // console.log("different section selected " + this.id)
                        load_section_workspace({{ ruledoc.pk }},this.id)
                        prev_section = current_section;
                        current_section = this.id;
                        if (current_section == "root_section") {
                            current_doc = "";
                        }
                        if (current_section.startsWith("crossheading")) {
                            current_doc = "not_implemented";
                        } else {
                            current_doc = current_section;
                            current_doc = current_doc.replace("sec_","");
                            current_doc = current_doc.replace("__subsec_",".");
                            current_doc = current_doc.replace("__para_",".");
                            current_doc = current_doc.replace("__subpara_",".");
                            current_doc = current_doc.replace("_section","");
                            current_doc = current_doc.replace("__span_","");
                        }
                        current_doc = abbreviation + " " + current_doc
                        // Update the categories available
                        knownCategories = getKnownCategories();
                        updateLocalCategories();
                    }   
                });
            }
            var workspace_is_test = false;

        </script>
        <script src="{% static 'blawx/drawers.js' %}"></script>
        <script src="{% static 'blawx/import.js' %}"></script>
        <script src="{% static 'blawx/attributes.js' %}"></script>
        <script src="{% static 'blawx/blawx2scasp.js' %}"></script>
        <script src="{% static 'blawx/context_menus.js' %}"></script>
   
    <div>
      <input id="loadfile"  onchange="loadBlocksFile(this)" type="file" accept=".blawx" hidden/>
    </div>
    <div>
      <input id="importfile" onchange="importBlocksFile(this)" type="file" accept=".blawx" hidden />
    </div>
</main>
{% endblock %}