{% extends "base.html" %}
{% load guardian_tags %}

{% block header_elements %}
<div class="col-8">
    {% comment %} <a href="{% url 'blawx:ruledoc_create' %}" class="btn btn-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        <span class="text">New Rule</span>
    </a> {% endcomment %}
    <a class="dropdown">
        <a class="btn btn-success dropdown-toggle {% if not perms.blawx.add_ruledoc %}disabled{% endif %}" {% if not perms.blawx.add_ruledoc %}aria-disabled="true" {% endif %}href="#" role="button" id="dropdownNewLink" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
              <span class="text">New Project</span>
        </a>
      
        <ul class="dropdown-menu" aria-labelledby="dropdownNewLink">
          <li><a class="dropdown-item" href="{% url 'blawx:ruledoc_create' %}">New Blank Project</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><h6 class="dropdown-header">Tutorials</h6></li>
          <li><a class="dropdown-item" href="/load_example/wills_tutorial/">Wills Tutorial</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><h6 class="dropdown-header">Examples</h6></li>
          <li><a class="dropdown-item" href="/load_example/rps/">Rock Paper Scissors Act</a></li>
          <li><a class="dropdown-item" href="/load_example/mortality/">Mortality Act</a></li>
          <li><a class="dropdown-item" href="/load_example/beard_tax/">Beard Tax Act</a></li>
          <li><a class="dropdown-item" href="/load_example/bird/">Bird Act</a></li>
          <li><a class="dropdown-item" href="/load_example/net30/">Net 30</a></li>
          <li><a class="dropdown-item" href="/load_example/r34/">Rule 34 Legal Profession Rules</a></li>
          <li><a class="dropdown-item" href="/load_example/siblings/">Siblings Act</a></li>
          <li><a class="dropdown-item" href="/load_example/wills/">Wills Act</a></li>
          <li><a class="dropdown-item" href="/load_example/mbp/">Motor Breakdown Policy</a></li>
          <li><a class="dropdown-item" href="/load_example/covid_test/">Covid Test</a></li>
          <li><a class="dropdown-item" href="/load_example/oasa/">Old Age Security Act</a></li>
          <li><a class="dropdown-item" href="/load_example/list_demo/">List Demonstration</a></li>
        </ul>
    </a>
    <a href="javascript:void(0);" class="btn btn-secondary {% if not perms.blawx.add_ruledoc %}disabled{% endif %}" {% if not perms.blawx.add_ruledoc %}aria-disabled="true" {% endif %} onclick="getLoadFile()">
                
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1h-2z"/>
            <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z"/>
        </svg>
        <span class="text">Import</span>
    </a>
    <a href="/docs/home" target=_blank class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
        </svg>
        <span class="text">Help</span>
    </a>
</div>
{% endblock %}
{% block page_content %}
<div class="row">
<div class="col-6">
<h3>Your Projects</h3>
    <ul>
    {% for ruledoc in ruledoc_list %}
        {% if user == ruledoc.owner %}    
            <li><a href="{% url 'blawx:ruledoc' ruledoc.id %}">{{ ruledoc.ruledoc_name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
<div class="col-6">
<h3>Published Projects</h3>
    <ul>
    {% for ruledoc in ruledoc_list %}
        {% get_obj_perms request.user for ruledoc as "ruledoc_perms" %}
        {% if user != ruledoc.owner and ruledoc.published and 'view_ruledoc' in ruledoc_perms %}    
            <li><a href="{% url 'blawx:ruledoc' ruledoc.id %}">{{ ruledoc.ruledoc_name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
</div>
<div>
    <form enctype="multipart/form-data" id="importform" action="/import/" method="post">
        {% csrf_token %}
        <input id="loadfile" name="loadfile" onchange="loadBlawxFile()" type="file" accept=".blawx" hidden/>
    </form>
  </div>
  <script>
    
var getLoadFile;
getLoadFile = function() {
    element = document.getElementById('loadfile');
    element.click();
}
var loadBlawxFile;
loadBlawxFile = function() {
    element = document.getElementById('importform');
    element.submit();
    return;
}
  </script>
{% endblock %}