{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'blawx/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'blawx/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'blawx/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'blawx/site.webmanifest' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- {% load bootstrap5 %} -->
    <link rel="stylesheet" href="{% static 'blawx/bootstrap.min.css' %}">
    <script src="{% static 'blawx/bootstrap.bundle.min.js' %}"></script>
    <!-- {% bootstrap_css %}
    {% bootstrap_javascript %} -->
    <title>Blawx - Drag and Drop Legal AI</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Mina:wght@700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&amp;display=swap" rel="stylesheet"> -->
    <link href="{% static 'blawx/fonts.css' %}" rel="stylesheet">
    <style type="text/css">
        #blawxlogo {
        font-family: 'Mina', sans-serif;
        font-size:xx-large;
        color: #5a005a;
        }
        #blawxWordMark{
            font-family: 'IBM Plex Sans', sans-serif;
        }
    </style>    
    {% block page_head %}{% endblock %}
    
</head>
<body class="d-flex flex-column h-100">
<!-- {# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %} -->
<header class="py-3 mb-3 border-bottom">
    <div class="row">
        <div class="col-2 align-self-center" id="blawxlogo"><a href="/" style="text-decoration: none; color: #5a005a;">§<span id="blawxWordMark">Blawx</span></a></div>
        {% block header_elements %}{% endblock %}
        {% if user.is_authenticated %}
            <div class="col-2">{{ user.username }} | <a href="{% url 'password_change' %}">Change Password</a> | <a href="{% url 'logout' %}">Logout</a></div>
        {% else %}
            <div class="col-2"><a href="{% url 'login' %}">Login</a></div>
        {% endif %}
        </div>
  </header>
{% block page_content %}{% endblock %}
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span>Copyright &copy; Lexpedite Legal Technology Ltd. 2022</span> | <span>{{ BLAWX_VERSION }}</span>
    </div>
  </footer>
</body>
</html>