{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title>Content page - Canada.ca</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="description" content=" " />
<meta name="author" content=" "/>
<meta name="dcterms.title" content="Content page"/>
<meta name="dcterms.description" content=" "/>
<meta name="dcterms.creator" content=" "/>
<meta name="dcterms.language" content="eng"/>
<meta name="dcterms.subject" content=""/>
<meta name="dcterms.issued" content=""/>
<meta name="dcterms.modified" content="2017-09-29"/>

<link href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/css/theme.min.css" />
<noscript><link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/css/noscript.min.css" /></noscript>
<script src="{% static 'blawx/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'blawx/jquery.min.js' %}"></script>
</head>
<body vocab="http://schema.org/" typeof="WebPage"><nav>
	<ul id="wb-tphp">
		<li class="wb-slc"><a class="wb-sl" href="#wb-cont">Skip to main content</a></li>
		<li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Skip to About this site</a></li></ul>
</nav>

<header>
	<div id="wb-bnr" class="container">
		<div class="row">
			
				<section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
	<h2 class="wb-inv">Language selection</h2>
	<ul class="list-inline mrgn-bttm-0">
		<li>
			<a lang="fr" hreflang="fr" href="content-fr.html">
				<span class="hidden-xs" translate="no">Français</span>
				<abbr title="Français" translate="no" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">fr</abbr>
			</a>
		</li>
	</ul>
</section>

			
			<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
	<a href="https://wet-boew.github.io/GCWeb/" property="url">
		<img src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/sig-blk-en.svg" alt="Government of Canada" property="logo" /><span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span>
	</a>
	<meta property="name" content="Government of Canada">
	<meta property="areaServed" typeof="Country" content="Canada" />
	<link property="logo" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/wmms-blk.svg" />
</div>

			
				
<section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
	<h2>Search</h2>
	<form action="#" method="post" name="cse-search-box" role="search">
		<div class="form-group wb-srch-qry">
			<label for="wb-srch-q" class="wb-inv">Search Canada.ca</label>
			<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Search Canada.ca" />
			<datalist id="wb-srch-q-ac"></datalist>
		</div>
		<div class="form-group submit">
			<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub">
				<span class="glyphicon-search glyphicon"></span>
				<span class="wb-inv">Search</span>
			</button>
		</div>
	</form>
</section>

			
		</div>
	</div>
	<hr>
	<div class="container">
		<div class="row"><div class="col-md-8">
					<nav class="gcweb-menu" typeof="SiteNavigationElement">
	<h2 class="wb-inv">Menu</h2>
	<button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
	<ul role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-en.html"><li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
		<li role="presentation"><a role="menuitem" href="https://travel.gc.ca/">Travel and tourism</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/business.html">Business and industry</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/health.html">Health</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
		<li role="presentation"><a role="menuitem" href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li></ul>
</nav>

				</div></div>
	</div>



</header>

<main class="container" property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
    {% block breadcrumb %}
	<nav id="wb-bc" property="breadcrumb">
	<h2>You are here:</h2>
	<div class="container">
		<ol class="breadcrumb" typeof="BreadcrumbList">
			<li property="itemListElement" typeof="ListItem">
				<a property="item" typeof="WebPage" href="https://www.canada.ca/en.html">
					<span property="name">Canada.ca</span>
				</a>
				<meta property="position" content="1">
			</li>
		</ol>
	</div>
</nav>
{% endblock breadcrumb %}
{% block main_content_card %}
    <h1 id="wb-cont" property="name">Content page</h1>
<p><strong>From <a href="#">[Institution name]</a></strong></p>

<section>
	<h2>Heading&#32;2&#32;(<code>h2</code>)</h2>
	<section>
		<h3>Heading&#32;3&#32;(<code>h3</code>)</h3>
		<section>
			<h4>Heading&#32;4&#32;(<code>h4</code>)</h4>
			<section>
				<h5>Heading&#32;5&#32;(<code>h5</code>)</h5>
				<section>
					<h6>Heading&#32;6&#32;(<code>h6</code>)</h6>
					<p>Paragraph - default appearance</p>
				</section>
			</section>
		</section>
	</section>
</section>
<p><a href="#">Link</a></p>
<ul>
	<li>unordered list&#32;(<code>ul</code>) - level&#32;1
		<ul>
			<li>unordered list&#32;(<code>ul</code>) - level&#32;2
				<ul>
					<li>unordered list&#32;(<code>ul</code>) - level&#32;3</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
<ol>
	<li>ordered list&#32;(<code>ol</code>) - level&#32;1</li>
	<li>ordered list&#32;(<code>ol</code>) - level&#32;1
		<ol>
			<li>ordered list&#32;(<code>ol</code>) - level&#32;2</li>
			<li>ordered list&#32;(<code>ol</code>) - level&#32;2
				<ol>
					<li>ordered list&#32;(<code>ol</code>) - level&#32;3</li>
					<li>ordered list&#32;(<code>ol</code>) - level&#32;3</li>
				</ol>
			</li>
		</ol>
	</li>
</ol>
<table class="table table-striped">
	<caption>Table caption</caption>
	<thead>
		<tr>
			<th scope="col">Table header&#32;(<code>th</code>)</th>
			<th scope="col">Table header&#32;(<code>th</code>)</th>
			<th scope="col">Table header&#32;(<code>th</code>)</th>
			<th scope="col">Table header&#32;(<code>th</code>)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Table data&#32;(<code>td</code>)</td>
			<td>Table data&#32;(<code>td</code>)</td>
			<td>Table data&#32;(<code>td</code>)</td>
			<td>Table data&#32;(<code>td</code>)</td>
		</tr>
		<tr>
			<td>Table data&#32;(<code>td</code>)</td>
			<td>Table data&#32;(<code>td</code>)</td>
			<td>Table data&#32;(<code>td</code>)</td>
			<td>Table data&#32;(<code>td</code>)</td>
		</tr>
		<tr>
			<td>Table data&#32;(<code>td</code>)</td>
			<td>Table data&#32;(<code>td</code>)</td>
			<td>Table data&#32;(<code>td</code>)</td>
			<td>Table data&#32;(<code>td</code>)</td>
		</tr>
	</tbody>
</table>
<form method="post" action="#" class="form-horizontal">
	<div class="form-group">
		<label for="data1" class="col-sm-3 control-label">Form&#32;<code>input</code></label>
		<div class="col-sm-9">
			<input type="text" id="data1" name="data1" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label for="data2" class="col-sm-3 control-label">Form&#32;<code>textarea</code></label>
		<div class="col-sm-9">
			<textarea id="data2" rows="3" cols="15" name="data2" class="form-control"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="data4" class="col-sm-3 control-label">Form&#32;<code>select</code></label>
		<div class="col-sm-9">
			<select name="data4" id="data4" class="form-control">
				<option value="1">Option&#32;1</option>
				<option value="2">Option&#32;2</option>
				<option value="3">Option&#32;3</option>
				<option value="4">Option&#32;4</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>
<blockquote>
	<p>"<code>blockquote</code>"</p>
	<footer><code>footer</code> <cite><code>cite</code></cite></footer>
</blockquote>

<h2 id="cnt-wdth-lmtd">Section with limited width content</h2>
<p>Add the CSS class name <code>.cnt-wdth-lmtd</code> to a sectioning element <code>&lt;section class="cnt-wdth-lmtd"&gt;...&lt;section&gt;</code> inside the main content of your page. More guidance are provided in the Content and IA specification.</p>
<section class="cnt-wdth-lmtd">
	<h3>Section example with limited width content</h3>
	<p>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</p>
</section>
<h2 id="call-to-action">Call to action button</h2>
<p>Add the CSS class name <code>.btn-call-to-action</code> to a your button or link that define the main call for action for a page. For example the initiation button/link in a service initiation pages. More guidance are provided in the Content and IA specification.</p>
<div class="row">
	<div class="col-sm-6">
		<h3>Link</h3>
		<p class="mrgn-bttm-0"><a class="btn btn-call-to-action" href="#">[Call to action]</a></p>
		<pre><code>&lt;p&gt;&lt;a class="btn <strong>btn-call-to-action</strong>" href="#"&gt;[Call to action]&lt;/a&gt;&lt;/p&gt;</code></pre>
	</div>
	<div class="col-sm-6">
		<h3>Button</h3>
		<button class="btn btn-call-to-action" type="button">[Call to action]</button>
		<pre><code>&lt;button class="btn <strong>btn-call-to-action</strong>" type="button"&gt;[Call to action]&lt;/button&gt;</code></pre>
	</div>
</div>
{% endblock main_content_card %}
<section class="pagedetails">
	<h2 class="wb-inv">Page details</h2><div class="row"><div class="col-sm-8 col-md-9 col-lg-9">
				<div data-ajax-replace="/GCWeb/sites/feedback/ajax/report-problem-en.html">
	<div class="row row-no-gutters"><div class="col-sm-9 col-md-6 col-lg-5"><a class="btn btn-default btn-block" href="https://www.canada.ca/en/report-problem.html">Report a problem on this page</a>
		</div>
	</div>
</div>

			</div><div class="wb-share col-sm-4 col-md-3" data-wb-share='{"lnkClass": "btn btn-default btn-block"}'></div><div class="col-xs-12">
			<dl id="wb-dtmd">
				<dt>Date modified:</dt>
				<dd><time property="dateModified">2017-09-29</time></dd>
			</dl>
		</div>
	</div>
</section>

</main>

<footer id="wb-info">
	<h2 class="wb-inv">About this site</h2>


	<div class="gc-main-footer">
		<div class="container">
			<nav>
				<h3>Government of Canada</h3>
				<ul class="list-col-xs-1 list-col-sm-2 list-col-md-3"><li><a href="https://www.canada.ca/en/contact.html">All contacts</a></li>
					<li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
					<li><a href="https://www.canada.ca/en/government/system.html">About government</a></li></ul>
				<h4><span class="wb-inv">Themes and topics</span></h4>
				<ul class="list-unstyled colcount-sm-2 colcount-md-3"><li><a href="https://www.canada.ca/en/services/jobs.html">Jobs</a></li>
					<li><a href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
					<li><a href="https://travel.gc.ca/">Travel and tourism</a></li>
					<li><a href="https://www.canada.ca/en/services/business.html">Business</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
					<li><a href="https://www.canada.ca/en/services/health.html">Health</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
					<li><a href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
					<li><a href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
					<li><a href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
					<li><a href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
					<li><a href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
					<li><a href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
					<li><a href="https://www.canada.ca/en/services/finance.html">Money and finance</a></li>
					<li><a href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
					<li><a href="https://www.canada.ca/en/services/indigenous-peoples.html">Indigenous peoples</a></li>
					<li><a href="https://www.canada.ca/en/services/veterans-military.html">Veterans and military</a></li>
					<li><a href="https://www.canada.ca/en/services/youth.html">Youth</a></li></ul>
			</nav>
		</div>
	</div>

	<div class="gc-sub-footer">
		<div class="container d-flex align-items-center">
			<nav>
				<h3 class="wb-inv">Government of Canada Corporate</h3>
				<ul>
					<li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
					<li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
					<li><a href="https://www.canada.ca/en/government/about.html">About Canada.ca</a></li><li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
					<li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li></ul>
			</nav>
			<div class="wtrmrk align-self-end">
				<img src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/wmms-blk.svg" alt="Symbol of the Government of Canada" />
			</div>
		</div>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
<script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script>
<script src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/js/theme.min.js"></script>
</body>
</html>
