.subparts {
    margin-left: 20px;
    border-left: solid 1px grey;
}
.lawpart {
    padding-left: 20px;
}
.lawpart > .form-check > .lawtext > num::before {
    content: "("
}
.lawpart > .form-check > .lawtext > num::after {
    content: ")"
}
.section.lawpart > .form-check > .lawtext > num::before {
    content: ""
}
.section.lawpart > .form-check > .lawtext > num::after {
    content: " "
}

.lawtext i::before {
    transition-duration: 0.7s;
}
.lawtext > i[aria-expanded="true"]::before {
    transform: rotate(90deg);
}
.explanation_node i::before {
    transition-duration: 0.7s;
}
.explanation_node > i[aria-expanded="true"]::before {
    transform: rotate(90deg);
}
div.subparts > div.lawtext {
    padding-left: 20px;
}
.lawtext p {
    display: inline;
}
.lawtext p::before {
    content: " "
}
.lawtext span input {
    margin-right: 5px;
}
span.lawpart {
    padding-left: 5px;
}
num + content > p:first-child {
    display: inline;
}

.se_subparts {
    margin-left: 40px;
}
.tree-element i::before {
    transition-duration: 0.7s;
}
.tree-element > div.input-group > button[aria-expanded="true"] > i::before {
    transform: rotate(90deg);
}

.blawx_category.blawx_locked > .blawx_category_header > div.input-group .blawx_lock_button {
    display: none;
}
.blawx_category:not(.blawx_locked) > .blawx_category_header > div.input-group .blawx_unlock_button {
    display: none;
}
.blawx_category.blawx_empty > .blawx_category_header > div.input-group .blawx_caret {
    display: none;
}
.blawx_category:not(.blawx_show_new) > .blawx_new_object {
    display: none;
}
.blawx_object:not(.blawx_has_attributes) > .blawx_object_header > div.input-group .blawx_caret {
    display: none;
}
.blawx_attribute.blawx_locked > .blawx_attribute_header > div.input-group .blawx_lock_button {
    display: none;
}
.blawx_attribute:not(.blawx_locked) > .blawx_attribute_header > div.input-group .blawx_unlock_button {
    display: none;
}
.blawx_attribute:not(.blawx_show_new) > .blawx_new_value {
    display: none;
}
.blawx_attribute.blawx_empty > .blawx_attribute_header > div.input-group .blawx_caret {
    display: none;
}

.blawx_relevant {
    background: lightgreen;
}

.blawx_object:has(.blawx_relevant) > .blawx_object_header .blawx_caret.collapsed {
    background: lightgreen;
}