.subparts {
    margin-left: 20px;
    border-left: solid 1px grey;
}
.lawpart {
    padding-left: 20px;
}
.lawpart > .form-check > .lawtext > num::before {
    content: "("
}
.lawpart > .form-check > .lawtext > num::after {
    content: ")"
}
.section.lawpart > .form-check > .lawtext > num::before {
    content: ""
}
.section.lawpart > .form-check > .lawtext > num::after {
    content: " "
}

.lawtext i::before {
    transition-duration: 0.7s;
}
.lawtext > i[aria-expanded="true"]::before {
    transform: rotate(90deg);
}
.explanation_node i::before {
    transition-duration: 0.7s;
}
.explanation_node > i[aria-expanded="true"]::before {
    transform: rotate(90deg);
}
div.subparts > div.lawtext {
    padding-left: 20px;
}
.lawtext p {
    display: inline;
}
.lawtext p::before {
    content: " "
}
.lawtext span input {
    margin-right: 5px;
}
span.lawpart {
    padding-left: 5px;
}
num + content > p:first-child {
    display: inline;
}