<li class="nav-item">
    <h5>
        <a data-bs-toggle="collapse" href="#help_menu" role="button" aria-expanded="false" aria-controls="help_menu">
        <i class="bi bi-question-circle pe-2"></i>Help
        </a>
     </h5>
</li>
<div class="collapse" id="help_menu">
<ul>
    <li class="mb-1"><a href="/docs/home">Quick Start</a></li>
    <li><h6><a data-bs-toggle="collapse" href="#blawx_components_target" role="button" aria-expanded="false" aria-controls="blawx_components_target">Blawx Components</a></h6></li>
    <div class="collapse" id="blawx_components_target">
        <ul>
            <li><a href="/docs/components/clean/">CLEAN Legislative Text</a></li>
            <li><a href="/docs/components/interface/">Blawx Code Editor</a></li>
            <li><a href="/docs/components/scenario_editor/">Scenario Editor</a></li>
            <li><a href="/docs/components/web-api/">Blawx Web API</a></li>
            <li><a href="/docs/components/admin/">Blawx Admin Interface</a></li>
        </ul>
    </div>
    <li><h6><a data-bs-toggle="collapse" href="#coding_features_menu" role="button" aria-expanded="false" aria-controls="coding_features_menu">Blawx Coding Features</a></h6></li>
    <div class="collapse" id="coding_features_menu">
        <ul>
            <li><a href="/docs/features/categories/">Categories, Attributes, Relationships</a></li>
            <li><a href="/docs/features/rules/">Rules</a></li>
            <li><a href="/docs/features/facts_assumptions/">Facts and Assumptions</a></li>
            <li><a href="/docs/features/questions/">Questions</a></li>
            <li><a href="/docs/features/ask_tell/">Asking and Telling</a></li>
            <li><a href="/docs/features/variables/">Variables</a></li>
            <li><a href="/docs/features/negation/">Negation and Uncertainty</a></li>
            <li><a href="/docs/features/comparison/">Comparison</a></li>
            <li><a href="/docs/features/math/">Numbers and Math</a></li>
            <li><a href="/docs/features/num_constraint/">Numerical Constraints</a></li>
            <li><a href="/docs/features/lists/">Lists and Aggregation</a></li>
            <li><a href="/docs/features/constraint/">Logical Constraints</a></li>
            <li><a href="/docs/features/defaults/">Defaults, Exceptions, and Applicability</a></li>
            <li><a href="/docs/features/dates/">Dates, Times, and Durations</a></li>
            <li><a href="/docs/features/answers/">Answers and Explanations</a></li>
            <li><a href="/docs/features/events/">Events</a></li>
        </ul>
    </div>
    <li><h6><a data-bs-toggle="collapse" href="#examples_menu" role="button" aria-expanded="false" aria-controls="examples_menu">Examples</a></h6></li>
    <div class="collapse" id="examples_menu">
        <ul>
            <li><a href="/docs/examples/rps">Rock Paper Scissors Act</a></li>
            <li><a href="/docs/examples/r34">Rule 34</a></li>
            <li><a href="/docs/examples/mortality">Mortality Act</a></li>
            <li><a href="/docs/examples/bird">Bird Act</a></li>
            <li><a href="/docs/examples/net30">Net 30</a></li>
            <li><a href="/docs/examples/wills">Wills Act</a></li>
            <li><a href="/docs/examples/bta">Beard Tax Act</a></li>
            <li><a href="/docs/examples/wills_tutorial">Wills Tutorial</a></li>
            <li><a href="/docs/examples/covid_test">Covid Test</a></li>
            <li><a href="/docs/examples/oasa">Old Age Security Act</a></li>
            <li><a href="/docs/examples/list_demo">List Demonstration</a></li>
            <li><a href="/docs/examples/numerical_constraints">Numerical Constraints</a></li>
            <li><a href="/docs/examples/logical_constraints">Logical Constraints</a></li>
            <li><a href="/docs/examples/life_act">Life Act</a></li>
        </ul>
    </div>
    <li class="mb-1"><a href="/docs/about">About Blawx</a></li>
    <li><h6><a data-bs-toggle="collapse" href="#specific_blocks_menu" role="button" aria-expanded="false" aria-controls="specific_blocks_menu">Specific Blocks</a></h6></li>
    <div class="collapse" id="specific_blocks_menu">
        <ul>
            <li class="mb-1"><a href="/docs/blocks/fact">Fact</a></li>    
            <li class="mb-1"><a href="/docs/blocks/rule">Rule</a></li>    
            <li class="mb-1"><a href="/docs/blocks/attributed_rule">Attributed Rule</a></li>    
            <li class="mb-1"><a href="/docs/blocks/constraint">Constraint</a></li>    
            <li class="mb-1"><a href="/docs/blocks/assumption">Assumption</a></li>    
            <li class="mb-1"><a href="/docs/blocks/question">Question</a></li>    
            <li><h6><a data-bs-toggle="collapse" href="#exceptions_menu" role="button" aria-expanded="false" aria-controls="exceptions_menu">Exceptions</a></h6></li>
            <div class="collapse" id="exceptions_menu">
                <ul>
                    <li><a href="/docs/blocks/overrules">Overrules</a></li>
                    <li><a href="/docs/blocks/according_to">According To</a></li>
                    <li><a href="/docs/blocks/defeated">Defeated</a></li>
                    <li><a href="/docs/blocks/applies">Applies</a></li>
                    <li><a href="/docs/blocks/holds">Holds</a></li>
                    <li><a href="/docs/blocks/section_selector">Section Selector</a></li>
                </ul>
            </div>
            <li><h6><a data-bs-toggle="collapse" href="#categories_menu" role="button" aria-expanded="false" aria-controls="categories_menu">Categories</a></h6></li>
            <div class="collapse" id="categories_menu">
                <ul>
                    <li><a href="/docs/blocks/new_category">New Category</a></li>
                    <li><a href="/docs/blocks/new_attribute">New Attribute</a></li>
                    <li><a href="/docs/blocks/attribute_selector">Attribute Selector</a></li>
                    <li><a href="/docs/blocks/new_relationship">New Relationship</a></li>
                    <li><a href="/docs/blocks/relationship_selector">Relationship Selector</a></li>
                </ul>
            </div>
            <li><h6><a data-bs-toggle="collapse" href="#events_menu" role="button" aria-expanded="false" aria-controls="events_menu">Events</a></h6></li>
            <div class="collapse" id="events_menu">
                <ul>
                    <li><a href="/docs/blocks/as_of">As Of</a></li>
                    <li><a href="/docs/blocks/from">From</a></li>
                    <li><a href="/docs/blocks/initially">Initially</a></li>
                    <li><a href="/docs/blocks/ultimately">Ultimately</a></li>
                    <li><a href="/docs/blocks/during">During</a></li>
                </ul>
            </div>
            <li><h6><a data-bs-toggle="collapse" href="#numbers_menu" role="button" aria-expanded="false" aria-controls="numbers_menu">Numbers</a></h6></li>
            <div class="collapse" id="numbers_menu">
                <ul>
                    <li><a href="/docs/blocks/number_value">Number Value</a></li>
                    <li><a href="/docs/blocks/math_operator">Math Operator</a></li>
                    <li><a href="/docs/blocks/numerical_constraint">Numerical Constraint</a></li>
                </ul>
            </div>
            <li><h6><a data-bs-toggle="collapse" href="#dates_menu" role="button" aria-expanded="false" aria-controls="dates_menu">Dates and Times</a></h6></li>
            <div class="collapse" id="dates_menu">
                <ul>
                    <li><a href="/docs/blocks/now">Now</a></li>
                    <li><a href="/docs/blocks/today">Today</a></li>
                    <li><a href="/docs/blocks/date_value">Date Value</a></li>
                    <li><a href="/docs/blocks/duration_value">Duration Value</a></li>
                    <li><a href="/docs/blocks/time_value">Time Value</a></li>
                    <li><a href="/docs/blocks/datetime_value">Date / Time Value</a></li>
                    <li><a href="/docs/blocks/date_comparison">Date Comparison</a></li>
                    <li><a href="/docs/blocks/duration_comparison">Duration Comparison</a></li>
                    <li><a href="/docs/blocks/date_add">Date Add</a></li>
                    <li><a href="/docs/blocks/datetime_combination">Date / Time Combination</a></li>
                    <li><a href="/docs/blocks/time_from_ts/">Timestamp to Time</a></li>
                    <li><a href="/docs/blocks/date_from_ts/">Timestamp to Date</a></li>
                    <li><a href="/docs/blocks/datetime_from_ts/">Timestamp to Datetime</a></li>
                </ul>
            </div>
            <li><h6><a data-bs-toggle="collapse" href="#lists_menu" role="button" aria-expanded="false" aria-controls="lists_menu">List Statements</a></h6></li>
            <div class="collapse" id="lists_menu">
                <ul>
                    <li><a href="/docs/blocks/empty_list">Empty List</a></li>
                    <li><a href="/docs/blocks/first_rest">First / Rest</a></li>
                    <li><a href="/docs/blocks/collect_list">Collect List</a></li>
                    <li><a href="/docs/blocks/list_aggregation">List Aggregation</a></li>
                </ul>
            </div>
            <li><h6><a data-bs-toggle="collapse" href="#objects_menu" role="button" aria-expanded="false" aria-controls="objects_menu">Objects</a></h6></li>
            <div class="collapse" id="objects_menu">
                <ul>
                    <li><a href="/docs/blocks/new_object">New Object</a></li>
                    <li><a href="/docs/blocks/object_equality">Object Equality</a></li>
                    <li><a href="/docs/blocks/object_disequality">Object Disequality</a></li>
                    <li><a href="/docs/blocks/object_category">Object Category</a></li>
                    <li><a href="/docs/blocks/object_selector">Object Selector</a></li>
                </ul>
            </div>
            <li><h6><a data-bs-toggle="collapse" href="#logic_menu" role="button" aria-expanded="false" aria-controls="logic_menu">Logic</a></h6></li>
            <div class="collapse" id="logic_menu">
                <ul>
                    <li><a href="/docs/blocks/known_false">Known False</a></li>
                    <li><a href="/docs/blocks/not">Not</a></li>
                    <li><a href="/docs/blocks/comparison">Comparison</a></li>
                </ul>
            </div>
            <li><h6><a data-bs-toggle="collapse" href="#variables_menu" role="button" aria-expanded="false" aria-controls="variables_menu">Variables</a></h6></li>
            <div class="collapse" id="variables_menu">
                <ul>
                    <li><a href="/docs/blocks/variable">Variable</a></li>
                    <li><a href="/docs/blocks/unnamed_variable">Unnamed Variable</a></li>
                    <li><a href="/docs/blocks/variable_assignment">Variable Assignment</a></li>
                </ul>
            </div>
        </ul>
    </div>
</ul>
</div>