<xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
    <!-- <category name="Include" colour="#666666">
        <block type="include"></block>  
    </category>
    <sep></sep> -->
    <category name="Primary" custom="PRIMARY" colour="#805ba5">
    </category>
    <sep></sep>
    <category name="Exceptions" colour="#5ba593">
        <block type="overrules"></block>
        <block type="according_to"></block>
        <block type="defeated"></block>
        <block type="applies"></block>
        <block type="holds"></block>
    </category>
    <category name="Known Sections" custom="KNOWN_RULES" colour="#5ba593">
    </category>
    <sep></sep>
    <category name="Categories" colour="#a55b5b">
        <block type="new_category_declaration"></block>
        <block type="new_attribute_declaration"></block>
        <block type="relationship_declaration"></block>
    </category>
    <sep></sep>
    <category name="Events" colour="#80A55B">
        <block type="from"></block>
        <block type="as_of"></block>
        <block type="initially"></block>
        <block type="ultimately"></block>
        <block type="holds_during"></block>
    </category>
    <sep></sep>
<category name="Numbers" colour="#5b5ba5">
    <block type="number_value"></block>
    <block type="math_operation"></block>
    <block type="numerical_constraint"></block>
</category>
<category name="Dates" colour="#a55b80">
    <block type="today"></block>
    <block type="now"></block>
    <block type="date_value"></block>
    <block type="datetime_value"></block>
    <block type="time_value"></block>
    <block type="duration_value"></block>
    <block type="date_comparison"></block>
    <block type="duration_comparison"></block>
    <!-- <block type="date_element"></block> -->
    <!-- <block type="date_difference_days"></block>
    <block type="date_difference"></block> -->
    <block type="date_add"></block>
    <!-- <block type="date_add_days"></block>
    <block type="date_calculate"></block>
    <block type="duration_calculate"></block>
    <block type="datetime_calculate"></block>
    <block type="time_calculate"></block>-->
    <block type="datetime_construct"></block>
    <!-- <block type="datetime_to_ts"></block>
    <block type="ts_to_datetime"></block>-->
    <!-- <block type="duration_element"></block> -->
    <block type="time_from_ts"></block>
    <block type="date_from_ts"></block>
    <block type="datetime_from_ts"></block>
    <block type="duration_from_ts"></block>
</category>
<category name="Lists" colour="#a55ba5">
    <block type="empty_list"></block>
    <block type="head_tail"></block>
    <block type="list_aggregation"></block>
    <block type="collect_list"></block>
</category>    
    <sep></sep>
    <category name="Objects" custom="NEW_OBJECTS" colour="#5b5ba5"></category>
    <category name="Known Objects" custom='KNOWN_OBJECTS' colour="#5b5ba5">
    </category>
    <sep></sep>
    <category name="Known Attributes" custom="KNOWN_ATTRIBUTES" colour="#5BA65B"></category>
    <sep></sep>
    <category name="Known Relationships" custom="KNOWN_RELATIONSHIPS" colour="#5b93a5"></category>
    <sep></sep>
    <category name="Logic" colour="#a55b93">
        <!-- <block type="conjunction"></block>
        <block type="disjunction"></block> -->
        <block type="logical_negation"></block>
        <block type="default_negation"></block>
        <block type="comparison"></block>
    </category>
    <sep></sep>
    <category name="Variables" colour="#a5a55b">
    <block type="variable"></block>
    <!-- <block type="silent_variable"></block> -->
    <block type="unnamed_variable"></block>
    <block type="variable_assignment"></block>
    </category>
    <sep></sep>
    <!-- <category name="Input" colour="#A55B5B">
    <block type="json_input"></block>
    <block type="json_list"></block>
    <block type="json_dictionary"></block>
    <block type="json_value"></block>
    </category>
    <sep></sep> -->
</xml>